.wrapper {
  min-height: calc(100vh - 90px);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 25px 30px 80px !important;
}

.content {
  display: flex;
  justify-content: space-between;
}

/* breadcrumb */
.crumb {
  font-size: 20px;
  color: #4F5665;
  font-family: 'Rubik', sans-serif !important;
  margin-bottom: 40px;
}

.crumb_page:hover {
  padding-bottom: 3px !important;
  border-bottom: 3px solid #6A4029 !important;
  color: #0B132A !important;
}

.crumb_active {
  color: #6A4029;
  font-weight: bold;
  --bs-breadcrumb-divider: '>';
}

.container {
  display: flex;
}