.body {
  /* base */
  background-color: #BCBABA;
  height: calc(100vh - 90px);
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* font */
  font-family: 'Rubik', sans-serif !important;
  color: #0B132A;
}

.body>h1 {
  font-size: 50px;
}

.body>h2 {
  font-size: 80px;
  color: #FFFFFF;
  margin: 30px 0;
}