.container {
  min-height: 100vh !important;
}

.main {
  /* overflow-y: auto; */
  /* max-height: calc(100vh - 90px); */
  font-family: 'Rubik', sans-serif !important;
  background-image: url('../../../assets/images/bg_profile.png');
  background-size: cover;
}

.content {
  padding: 50px 30px 80px !important;
}

.title>h2 {
  font-weight: 500;
  margin-bottom: 30px;
  text-shadow: 0px 6px 8px rgba(255, 255, 255, 0.26);
}

.section {
  padding: 50px;
  display: flex;
  flex-direction: row !important;
  justify-content: space-between !important;
  background-color: #F8F8F8 !important;
  border-radius: 20px !important;
  font-family: 'Poppins', sans-serif !important;
  margin: 0 !important;
}