.wrapper {
  min-height: calc(100vh - 90px);
  border-left: 0.5px solid #9f9f9f !important;
}

.container {
  margin: 0 11.5% 0 80px !important;
  padding-bottom: 80px !important;
}

.card_box {
  min-height: calc(100vh - 329px);
}

/* loading */
.loading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: calc(100vh - 259px);
}

.empty {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  min-height: calc(100vh - 259px);
}

.empty>h1 {
  color: #0B132A !important;
}


/* section: menu */
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card>div {
  display: flex;
  justify-content: center;
}

.page {
  height: 70px;
  display: flex !important;
  justify-content: center !important;
  align-items: flex-end !important;
}

/* button: create */
.btn_create {
  border-radius: 15px !important;
  background-color: #6A4029 !important;
  font-size: 20px !important;
  font-weight: bold !important;
  font-family: 'Poppins', sans-serif !important;
  height: 70px;
  width: 100%;
  margin-top: 50px;
}

.btn_create:hover {
  color: #6A4029 !important;
  background-color: #FFBA33 !important;
}